{% extends 'home/base.html' %}

{% block title %}
Help Request
{% endblock %}

{% block body %}
    <div class="container">
        <br><br><br>
        <div class="login ">
        <div class="main-agileits">
		 <div class="text-center "><h3>Registration Form<br><br></h3></div>
            <form method="POST" action="{%  url 'request_help' %}" enctype="multipart/form-data">
			 {% csrf_token %}
                <div class="row " >
			    <div class="col-md-2 col-md-offset-1">Name </div>
				<div class="col-md-3 col-md-offset-0"><input type="text" id="name" name="name" placeholder="NAME" required></div>
			    <div class="col-md-2 col-md-offset-0">House Name </div>
				<div class="col-md-3 col-md-offset-0"><input type="text" id="house" name="house" placeholder="HOUSE NAME" required></div><br><br>
			    </div><br>
                <div class="row " >
			    <div class="col-md-2 col-md-offset-1">Location </div>
				<div class="col-md-3 col-md-offset-0"><input type="place" id="place" name="place" placeholder="LOCATION" required></div>
			    <div class="col-md-2 col-md-offset-0">Contact </div>
				<div class="col-md-3 col-md-offset-0"><input type="tel" id="phone" name="phone" placeholder="PHONE NUMBER" required></div><br><br>
			    </div><br>
                <div class="row " >
			    <div class="col-md-2 col-md-offset-1">Type</div>
				<div class="col-md-3 col-md-offset-0"><input type="text" id="type" name="type" placeholder="TYPE" required></div>
			    <div class="col-md-2 col-md-offset-0">Help Needed</div>
				<div class="col-md-3 col-md-offset-0"><input type="text" id="help_needed" name="help_needed" placeholder="HELP NEEDED" required></div><br><br>
			    </div><br>
                <div class="row " >
			    <div class="col-md-2 col-md-offset-1">Letter </div>
				<div class="col-md-3 col-md-offset-0"><input type="text" id="letter" name="letter" placeholder="LETTER" required></div>
			    </div><br>
			    <div clas="row" >
			     <div class="col-md-4 col-md-offset-4"><input type="submit" class='btn-info' name='submit' value='      Register      ' ></div>
				 <div class="col-md-offset-0"><input type="Reset"  class='btn-info' value='      Reset     '></div>
			    </div>
			</form>
			</div>
			</div>
			</div>
			</div>
		</div>
	</div>
    </div>
{% endblock %}